<div class="page-header">
    <h3>List</h3>
</div>
<div>
    <form class="form-signin" action="#" th:action="@{saveReceipt}" th:object="${saveReceiptRequest}" method="post">
        <h2 class="form-signin-heading">Please fill the form</h2>
        <div class="form-group">
            <label for="userName" class="sr-only">User Id</label>
            <input type="text" name="userName" id="userName" placeholder="${userName}" th:field="*{userName}" class="form-control" aria-describedby="" value="${userName}" disabled/>
        </div>
        <div class="form-group">
            <p>{{inputPlaceId}}</p>
            <label for="placeId" class="sr-only">Place Id</label>
            <input type="text" name="placeId" id="placeId" th:field="*{placeId}" class="form-control" ng-model="inputPlaceId"/>
        </div>
        <div class="form-group">
            <label for="placeName" class="sr-only">Place Name</label>
            <input type="text" name="placeName" id="placeName" th:field="*{placeName}" class="form-control" ng-model="inputPlaceName"/>
        </div>
        <div class="form-group">
            <label for="placeLocation" class="sr-only">Place location</label>
            <input type="text" name="placeLocation" id="placeLocation"  th:field="*{placeLocation}" class="form-control" ng-model="inputPlaceVicinity"/>
        </div>
        <div class="form-group">
            <label for="receiptTotal" class="sr-only">Receipt Total</label>
            <input type="text" name="receiptTotal" id="receiptTotal" placeholder="Receipt Total" th:field="*{receiptTotal}" class="form-control" aria-describedby=""/>
        </div>
        <div class="form-group">
            <label for="date" class="sr-only">Place location</label>
            <input type="datetime-local" name="date" id="date" placeholder="Date" th:field="*{date}" class="form-control" aria-describedby=""/>
        </div>
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
        <input class="btn btn-lg btn-primary btn-block" name="submit" type="submit" value="submit" />
    </form>
</div>
<div>
    <h4>Found <span class="badge">{{places.results.length}}</span> places <span ng-show="coordinate">near my location <strong>({{coordinate}})</strong></span></h4>
    <input type="search" class="form-control" placeholder="search by place name" ng-model="search">
    <br>
    <div class="list-group">
        <!--<a ng-repeat="y in places.results | filter:search" href="#/place/{{places.results.indexOf(y)}}" class="list-group-item clearfix"><img ng-src="{{y.icon}}" width="30px" height="30px"/> <strong>{{y.name}}</strong> <span class="pull-right">{{y.vicinity}}{{y.formatted_address}}</span></a>-->
        <a ng-repeat="y in places.results | filter:search" class="list-group-item clearfix" ng-click="putDetail(y.id, y.name, y.vicinity)"><img ng-src="{{y.icon}}" width="30px" height="30px"/> <strong>{{y.name}}</strong> <span class="pull-right">{{y.vicinity}}{{y.formatted_address}}</span></a>
    </div>
    <button ng-show="token" class="btn btn-default" ng-click="getNextPage()">next result</button>
</div>
<p id="demo"/>
<p id="error"/>